.flatpickr,
.flatpickr-input {
  border: 1px solid #c3c3c3;
  font-size: 2rem;
  height: 36px;
  line-height: 36px;
  width: 100%;
  padding: 8px;
  max-width: 360px;
  border-radius: 3px;
  background: #fff;
}
