.input {
  width: 100%;
}

.input__creator-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 55%;
}

.creator-item__field {
  margin-right: 20px;
}

.list-item {
  width: 55%;
}
